<template name="messageStatusDropdown">
  <div class="ui simple dropdown item">
    <div class="text">{{status}}</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">Statuses</div>
      <div class="item" id="message-status-set-open">Open</div>
      <div class="item" id="message-status-set-in-progress">In Progress</div>
      <div class="item" id="message-status-set-blocked">Blocked</div>
      <div class="item" id="message-status-set-in-test">In Test</div>
      <div class="item" id="message-status-set-done">Done</div>      
    </div>
  </div>  
</template>
