<template name="messageItem">
  <li class="message {{#if archived}}archived-message{{/if}}" style="position:relative">
      <div id="message-icon" class="uk-align-left" style="position:relative">
          <!--{{#if parentMessageId}}
              <i class="uk-icon-hover uk-icon-comment-o uk-icon-large"></i>
          {{else}}
              <i class="uk-icon-hover uk-icon-comment uk-icon-large"></i>
          {{/if}}-->
          <img src="{{ownerImageUrl}}"/>
      </div>
      <div style="color:gray;font-size:14px">
          {{#if parentMessageId}}
              {{ownerName}} commented on <a href="{{pathFor "messagePage" _id=parentMessageId}}">GIRA-{{parentMessageGid}}</a> at {{formatTime createdAt}}
          {{else}}
              {{ownerName}} <span class="message-link message-created-at">{{formatTime createdAt}}</span>
          {{/if}}
          {{#if showChannelBadge}}
          <div class="uk-badge uk-badge-warning">{{channelBadgeName}}</div>
          {{/if}}
      </div>

      <div class="content">{{#markdown}}{{content}}{{/markdown}}</div>
      <span style="position:absolute;top:5px;right:5px">
        <span class="message-link" style="color:lightgray;font-size:12px">GIRA-{{gid}}</span>
      <span class="message-link"><i class="uk-icon-comment" style="font-size:12px;color:lightgray"> {{commentsCount}}</i></span>
      {{#if isOwner}}
          <input id="archived-check" type="checkbox" checked="{{archived}}"/>
      {{/if}}
      </span>
      {{#if doable}}
      <span style="position: absolute;top:25px;right:5px;">
        {{> messageStatusDropdown}}
      </span>
      {{/if}}
  </li>
</template>
