<template name="messageItem">
  <li class="message {{#if archived}}archived-message{{/if}}" style="position:relative">
      <div id="message-icon" class="uk-align-left" style="position:relative">
          {{#if parentMessageId}}
              <i class="uk-icon-hover uk-icon-comment-o uk-icon-large"></i>
          {{else}}
              <i class="uk-icon-hover uk-icon-comment uk-icon-large"></i>
          {{/if}}
          <img src="{{ownerImageUrl}}"/>
      </div>
      <div style="color:gray;font-size:14px">
          {{#if parentMessageId}}
              {{ownerName}} commented on GIRA-55 at {{formatTime createdAt}}
          {{else}}
              {{ownerName}}
              <span class="message-link message-created-at"> | {{formatTime createdAt}}</span>
              <span class="message-link"> | {{commentsCount}} comments</span>
          {{/if}}
      </div>
      <div class="content">{{#markdown}}{{content}}{{/markdown}}</div>
      {{#if isOwner}}
          <input id="archived-check" type="checkbox" checked="{{archived}}" style="position:absolute;top:5px;right:5px"/>
      {{/if}}
  </li>
</template>
