<template name="messagePage">
  <div class="message-page page">
    <div id="main-message-wrapper" style="z-index:2">
      <ul id="main-message" class="uk-list" style="padding:10px">
          {{> messageItem}}
      </ul>

    <div class="btn-group" role="group" aria-label="..." style="padding:10px;background:#EDEDED;position:relative;top:-15px;border-bottom:1px solid gray;">
      <button id="edit-button" type="button" class="uk-button">Edit</button>
      <button id="delete-button" type="button" class="uk-button">Delete</button>
    <label id="doable-check" style="float:right">
      <input id="doable" type="checkbox" checked="{{doable}}" />
        Doable
    </label>
    </div>
  </div>

    <div id="comments-wrapper"  style="padding:20px">
    <div class="page-subtitle">Comments</div>
    <ul class="uk-list uk-list-space uk-list-line">
      {{#each comments}}
        {{> messageItem}}
      {{/each}}
    </ul>
    {{#if currentUser}}
      {{> CreateCommentBoxComponent}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
    </div>
  </div>
</template>
