<template name="messagePage">
  <div class="message-page page">
      <ul class="uk-list uk-list-space uk-list-line" style="padding:20px">
          {{> messageItem}}
      </ul>

    <div class="btn-group" role="group" aria-label="..." style="padding:20px">
      <button id="edit-button" type="button" class="uk-button">Edit</button>
      <button id="delete-button" type="button" class="uk-button">Delete</button>
    </div>
    <div id="comments-wrapper"  style="padding:20px">
    <h3>Comments</h3>
    <ul class="uk-list uk-list-space uk-list-line">
      {{#each comments}}
        {{> messageItem}}
      {{/each}}
    </ul>
    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
    </div>
  </div>
</template>
