<template name="messageItem">
  <div class="event message {{#if archived}}archived-message{{/if}}" style="position:relative">
      <div class="label">
          <!--{{#if parentMessageId}}
              <i class="uk-icon-hover uk-icon-comment-o uk-icon-large"></i>
          {{else}}
              <i class="uk-icon-hover uk-icon-comment uk-icon-large"></i>
          {{/if}}-->
          <img src="{{ownerImageUrl}}"/>
      </div>
      <div class="content" style="color:gray;font-size:14px">
        <div class="summary">
          {{#if parentMessageId}}
              <div class="user"><a>{{ownerName}}</a></div> commented on <a href="{{pathFor "messagePage" _id=parentMessageId}}">GIRA-{{parentMessageGid}}</a> at {{formatTime createdAt}}
          {{else}}
              <div class="user"><a>{{ownerName}}</a></div> <div class="date message-link message-created-at">{{formatTime createdAt}}</div>
          {{/if}}
          {{#if showChannelBadge}}
          <div class="uk-badge uk-badge-warning">{{channelBadgeName}}</div>
          {{/if}}
          </div>
      
        
        <div class="text {{#if parentMessageId}}extra{{/if}}">{{#markdown}}{{content}}{{/markdown}}</div>

        
      </div>
      <span style="position:absolute;top:5px;right:5px">
        <span class="message-link" style="color:lightgray;font-size:12px">GIRA-{{gid}}</span>
      <span class="message-link"><i class="uk-icon-comment" style="font-size:12px;color:lightgray"> {{commentsCount}}</i></span>
      {{#if isOwner}}
          <input id="archived-check" type="checkbox" checked="{{archived}}"/>
      {{/if}}
      </span>
      {{#if doable}}
      <span style="position: absolute;top:25px;right:5px;">
        {{> messageStatusDropdown}}
      </span>
      {{/if}}
  </div>
</template>
