.message-created-at:hover {
    cursor:pointer;
    text-decoration: underline;
    color:#309FD0;
}

.archived-message .content {
  text-decoration: line-through;
}

.message .content {
  font-size:16px;
}

.message .content h1 {
  font-size:20px;
  text-transform: uppercase;
  color: orange;
}
