<template name="header">
    <nav class="uk-navbar" style="position:fixed;z-index:9999;top:0;width:100%">

      <a class="uk-navbar-brand" href="{{pathFor 'messagesPage'}}">Giraffe</a>

      <ul class="uk-navbar-nav">
          {{> channelDropdown}}

      </ul>
      <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
          {{> loginButtons}}
          <label id="hide-archived" for="hide-archived-input" class="pull-right">
            <input id="hide-archived-input" type="checkbox" checked="{{hideArchived}}" />
              Hide Archived Messages
            </label>

      </div>

  </nav>
  <!--<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >Giraffe</a>
      <span>
      <label id="hide-archived" class="pull-right">
        <input type="checkbox" checked="{{hideArchived}}" />
          Hide Archived Messages
        </label>
      </span>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
    </nav>-->
</template>
